python-dotenv
shapely==2.0.3
requests==2.31.0
requests-oauthlib==2.0.0
hana_ml==2.19.24013100
hdbcli==2.20.15
sentence-transformers==2.5.1
langchain==0.1.14
langchain-community==0.0.31
openai==1.17.1
gradio==4.26.0
pypdf==4.2.0